.bordered-center-form {
    width: 50%;
    margin: 0 auto; 
    border: solid 1px lightgrey;
    padding: 2rem;
    border-radius: 15px; 
    text-align: left;
}

@media screen and (max-width: 767px){
    .bordered-center-form {
        width: 85%
    }

    main > .register-info {
        width: 80%;
        text-align: center;
        margin-left: auto;
        margin-right: auto
    }
}