.dash-topbar {
    width: 100%;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1.5rem;
    height: 4rem;
    z-index:1000;
    border-bottom: solid 1px lightgrey
}

.inner-dash-topbar {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.inner-dash-topbar > button.mantine-Button-root {
    width: 175px
}

@media screen and (max-width: 767px) {
    .inner-dash-topbar > h1.mantine-Title-root {
        display: none;
    }

    .inner-dash-topbar > button.mantine-Button-root {
        width: 125px
    }
}