footer {
    background-color: var(--blackish-blue);
    height: fit-content;
    color: #fff;
}

footer nav > ul > li { 
    margin: 0.5rem 0;
}

footer nav > ul > li > a{ 
    color: #fff;
}

footer nav > ul > li > a:hover{ 
    color: var(--grey);
}