#how-it-works{
    margin: 1.5rem 0;
    text-align: left
}

#common-queries{
    margin: 1.5rem 0;
    text-align: left
}

#how-it-works > div > div.mantine-Timeline-root {
    width: 50%;
    margin: 1rem 0;
}

@media screen and (max-width: 767px){
    #how-it-works > div > div.faq-image {
        display: none;
    }

    #how-it-works > div > div.mantine-Timeline-root {
        width: 100%;
    }
}